<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.bupt.mapper.ApplyBookMapper">



    <select id="selectByBookId" parameterType="String" resultType="edu.bupt.pojo.User">
        SELECT * FROM user WHERE username = #{username}
    </select>


    <insert id="insert" parameterType="edu.bupt.pojo.ApplyBook" useGeneratedKeys="true">
        INSERT INTO apply_book (bookId, renterId, proposerId) VALUES
            (${bookId},${renterId},${proposerId})
    </insert>
</mapper>